@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'EB Garamond';
    font-weight: bold;
}
img{
    max-width: 100%;
}
header{
    background-color: #6F1D1B;
}
header a{
    color: whitesmoke;
    font-size: 1.5rem;
}
#body{
    background-image: url(./img/Fondo\ vector.jpg);
}
nav{
    display: flex;
    align-items: center;
}
.logonav{
    display: flex;
    width: 15vh;
    padding: 5px 0px 5px 20px;
}
.listanav{
    width: 92%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/*Index*/
#cabecera{
    background-image: url("./img/Cabecera_obrador.jpg");
    background-size: cover;
    background-position: right;
    height: 91vh;
}
h1{
    font-size: 4rem;
    color: whitesmoke;
}
.logoCabecera{
    display: flex;
    width: 20%;
    margin-left: 15%;
    padding-top: 5%;
    margin-bottom: 2%;
}
.textoCabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}
#cabecera p{
    font-size: 1.5rem;
    color: whitesmoke;
}

/*prodFamilias*/
#categorias{
    display: flex;
    flex-direction: column;
}
#categorias h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
.listaCategorias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.listaCategorias p{
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
    background-color: #6F1D1B;
    border-radius: 10px;
    margin-top: 2%;
}

/*Sobre nosotros*/
#bodyNegro{
    background-color: black;
}
#sobreNosotros{
    text-align: center;
}
#sobreNosotros h2{
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
#sobreNosotros video{
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}
#textoNosotros{
    width: 60%;
    margin: auto;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    font-size: 1.5rem;
    padding-top: 2%;
}

/*FAQS*/
#faqs h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
#preguntas{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.pregYresp{
    margin-bottom: 2%;
}
#faqs h3{
    background-color: rgba(0, 0, 0, 0.400);
    color: #FFE6A7;;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
}
#faqs p{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
}

/*Contacto*/
#formulario{
    font-size: 1.3rem;
}
#formulario h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
#formulario form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
}
.formNombre input{
    width: 50%;
}
.formApellidos input{
    width: 50%;
}
.formEmail input{
    width: 50%;
}
.formCategoria{
    
}
.formPregunta textarea{
    width: 100%;
    height: 20vh;
}
.formPoliticas{
    
}
.formEnviar{
    width: 20%;
    margin: auto;
    font-size: 1.3rem;
}
#mapa{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}