@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'EB Garamond';
    font-weight: bold;
}
img{
    max-width: 100%;
}
header{
    background-color: #6F1D1B;
}
header a{
    color: whitesmoke;
    font-size: 1.5rem;
}
header li :hover{
    color: #FFE6A7;
    text-shadow: black 1px 1px 2px;
}
#body{
    background-image: url(./img/Fondo\ vector.jpg);
}
nav{
    display: flex;
    align-items: center;
}
.logonav{
    display: flex;
    width: 15vh;
    padding: 5px 0px 5px 20px;
}
.listanav{
    width: 92%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/*Index*/
#cabecera{
    background-image: url("./img/Cabecera_obrador.jpg");
    background-size: cover;
    background-position: right;
    height: 91vh;
}
h1{
    font-size: 4rem;
    color: whitesmoke;
}
.logoCabecera{
    display: flex;
    width: 20%;
    margin-left: 15%;
    padding-top: 5%;
    margin-bottom: 2%;
}
.textoCabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}
#cabecera p{
    font-size: 1.5rem;
    color: whitesmoke;
}

/*prodFamilias*/
#categorias{
    display: flex;
    flex-direction: column;
}
#categorias h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
.listaCategorias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2%;
}
.listaCategorias img{
    box-shadow: black 2px 2px 10px;
}
.aIMGcategorias :hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.listaCategorias p{
    text-align: center;
    font-size: 1.5rem;
    color: #FFE6A7;
    background-color: #6F1D1B;
    border-radius: 10px;
    margin-top: 2%;
    width: 100%;
}
.aTEXTOcategorias2{
    display: block;
    width: 60%;
}
.aTEXTOcategorias :hover{
    background-color: #FFE6A7;
    color: #6F1D1B;
    transition: all 0.3s ease-in-out;
}

/*Panes*/
.contenedorProductos{
    display: flex;
}
.contenedorIZQ{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
.contenedorIZQ > div:nth-child(1){
    margin-right: 5%;
    margin-bottom: 2%;
}
.contenedorIZQ > div:nth-child(2){
    margin-bottom: 2%;
}
.contenedorIZQ > div:nth-child(3){
    margin-right: 5%;
}
.contenedorDER{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}
.contenedorDER img{
    box-shadow: black 2px 2px 10px;
    border-radius: 15px;
}
.listaCategorias2{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.listaCategorias2 img{
    box-shadow: black 2px 2px 10px;
}
.listaCategorias2 p{
    text-align: center;
    font-size: 1.5rem;
    color: #FFE6A7;
    background-color: #6F1D1B;
    border-radius: 10px;
    margin-top: 2%;
}
.TEXTOcategoria :hover{
    background-color: #FFE6A7;
    color: #6F1D1B;
    transition: all 0.3s ease-in-out;
}
.IMGcategoria{
    cursor: pointer;
}
.volver{
    text-align: center;
    font-size: 2rem;
    color: #6F1D1B;
    padding-bottom: 5%;
    margin-left: 32%;
    margin-right: 32%;
}
.volver:hover{
    color: #FFE6A7;
    text-shadow: black 1px 1px 2px;
    transition: all 0.3s ease-in-out;
}

/*Sobre nosotros*/
#bodyNegro{
    background-color: black;
}
#sobreNosotros{
    text-align: center;
}
#sobreNosotros video{
    width: 100%;
}
#textoNosotros{
    width: 60%;
    font-size: 1.5rem;
    position: absolute;
    z-index: 10;
    display: flex;
    color: whitesmoke;
    position-area: top;
    margin-top: 10%;
    text-shadow: black 1px 1px 2px;
}
.galeriaFotos {
    grid-row: 3;
    grid-column: 1;
}
.encima{
    position: absolute;
    width: 100%;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 9.1vh;
    background-color: rgba(0,0,0,0.5);
}
.encima h2{
    color: whitesmoke;
    border-radius: 6px;
    font-size: 2rem;
    padding-top: 20%;
    padding-bottom: 20%;
    text-shadow: black 1px 1px 2px;
}

/*FAQS*/
#faqs h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
#preguntas{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.pregYresp{
    margin-bottom: 2%;
}
#faqs h3{
    background-color: #6F1D1B;
    color: #FFE6A7;;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    font-size: 1.3rem;
}
#faqs p{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    font-size: 1.2rem;
}

/*Contacto*/
#contactoUP h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
label{
    color: #6F1D1B;
}
#formulario{
    font-size: 1.3rem;
    margin-bottom: 2%;
}
#formulario h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 1px 2px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.500);
}
#formulario form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
}
.formNombre input{
    width: 50%;
    height: 4vh;
}
.formTelefono input{
    width: 50%;
    height: 4vh;
}
.formEmail input{
    width: 50%;
    height: 4vh;
}
.formCategoria{
    height: 4vh;
    margin-bottom: 5%;
}
.formPregunta textarea{
    width: 100%;
    height: 20vh;
}
.formPoliticas input{
    transform: scale(1.4);
    margin-left: 2px;
}
.formEnviar{
    width: 20%;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 2%;
}
#mapa{
    display: flex;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: space-evenly;
}
#mapa img{
    box-shadow: black 2px 2px 10px;
}
#mapa > div:nth-child(2){
    width: 30%;
}
.contactoDireccion{
    font-size: 2rem;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    color: #6F1D1B;
    padding: 1% 1% 1% 1%;
    margin-bottom: 2%;
}
.contactoHorarios{
    font-size: 2rem;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    color: #6F1D1B;
    padding: 1% 1% 1% 1%;
}
.contactoTelefono{
    font-size: 2rem;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    color: #6F1D1B;
    padding: 1% 1% 1% 1%;
    margin-bottom: 2%;
}
/*Footer*/
footer{
    background-color: #6F1D1B;
    color: whitesmoke;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoFooter{
    width: 6%;
}

/*RESPONSIVE*/
@media screen and (max-width: 1440px){
    /*Categorias*/
    .listaCategorias > div:nth-child(3){
        margin-top: 3%;
    }
    #categorias{
        height: 90vh;
    }
    /*Panes*/
    .contenedorDER{
        margin-top: 3%;
        width: 45%;
    }
    .volver{
        margin-left: 26%;
        margin-right: 26%;
    }
    /*Sobre Nosotros*/
        .encima{
        top: 9vh;
    }
}
@media screen and (max-width: 1200px){
    /*INDEX*/
    #cabecera{
        height: 81.5vh;
        background-image: url(./img/Cabecera_obrador_2.jpg);
    }
    /*Sobre Nosotros*/
        #textoNosotros{
        margin-top: 15%;
    }
    /*Contacto*/
    #mapa > div:nth-child(2){
        width: 40%;
    }
    #formulario form{
        width: 60%;
    }
}
@media screen and (max-width: 992px){
    /*INDEX*/
    /*Categorias*/
    .listaCategorias > div:nth-child(2){
        margin-top: 3%;
    }
    #categorias{
        height: 165vh;
    }
    /*Panes*/
    .contenedorProductos{
        flex-direction: column;
    }
    .listaCategorias2{
        width: 31%;
    }
    .contenedorIZQ{
    width: 95%;
    }
    .contenedorDER{
        width: 60%;
    }
    .contenedorDER{
        margin: auto;
        flex-direction: column-reverse;
    }
    /*Sobre Nosotros*/
    .encima{
        top: 8.5vh;
    }
    /*FAQS*/
    #preguntas{
        width: 65%;
    }
    /*Footer*/
    footer{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 768px){
    /*INDEX*/
    #cabecera{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logoCabecera{
        margin-left: 0;
        padding-top: 0;
    }
    .textoCabecera{
        background-color: rgba(0, 0, 0, 0.700);
        border-radius: 10px;
        padding: 1% 1% 1% 1%;
        width: 60%;
    }
    /*Categorias*/
    #categorias{
        height: 215vh;
    }
    /*Contacto*/
    #mapa{
        flex-direction: column-reverse;
    }
    #mapa > div:nth-child(2){
        width: 65%;
        margin-bottom: 2%;
    }
    /*Footer*/
    footer{
        padding-left: 5%;
    }
}
@media screen and (max-width: 576px){
    /*Header*/
    header a{
        font-size: 1.3rem;
    }
    /*Sobre Nosotros*/
    #textoNosotros{
        margin-top: 30%;
    }
    .encima{
        top: 8vh;
    }
    /*INDEX*/
    .logoCabecera{
        width: 40%;
    }
    /*Footer*/
    footer{
        padding-left: 2%;
        height: 11vh;
    }
    .logoFooter{
        width: 30%;
    }
}
@media screen and (max-width: 450px){
    /*INDEX*/
    .logoCabecera{
        width: 55%;
    }
    .textoCabecera{
        width: 88%;
    }
    header a{
        font-size: 1rem;
    }
    /*Categorias*/
    .listaCategorias{
        width: 85%;
        margin-left: 8%;
    }
    #categorias{
        height: 170vh;
    }
    .listaCategorias2{
        width: 40%;
    }
    .contenedorDER{
        width: 85%;
    }
    /*Sobre Nosotros*/
    .encima{
        top: 7.5vh;
    }
    /*Contacto*/
    #mapa img{
        width: 80%;
    }
    #formulario form{
        width: 85%;
    }
}
