@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'EB Garamond';
    font-weight: bold;
}

img{
    max-width: 100%;
}

header{
    background-color: #FFE6A7;
}

header a{
    color: black;
}

body{
    background-color: #BB9557;
}

nav{
    display: flex;
    align-items: center;
}

.logonav{
    display: flex;
    width: 8%;
}

.listanav{
    width: 92%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#cabecera{
    background-image: url("./img/Cabecera_obrador.jpg");
    background-size: cover;
    background-position: center;
    height: 65vh;
}

h1{
    font-size: 4rem;
    color: whitesmoke;
}

#cabecera div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 60%;
}

#cabecera p{
    font-size: 1.5rem;
    color: whitesmoke;
}